<ActionBar class="action-bar" title="Sobre Vida 1.0">
    <ActionItem>
        <StackLayout>
            <Button class="fa btn-primary" text="&#xf0c9;" fontSize="20"></Button>
        </StackLayout>
    </ActionItem>
</ActionBar>
<StackLayout>
    <GridLayout rows="auto, *, auto">
        <StackLayout row="0" class="m-b-25">
            <Label class="t-30 text-center title" text="Bem Vindo"></Label>
            <Label class="t-18 text-center font-weight-bold" [text]="loggedUser"></Label>
            <StackLayout class="hr"></StackLayout>
        </StackLayout>
        <router-outlet name="center"></router-outlet>
    </GridLayout>
</StackLayout>