<GridLayout rows="48,*">
    <SearchBar row="0" hint="Search for a airport" (textChange)="onTextChanged($event)"
        (loaded)="searchBarLoaded($event)" (clear)="onClear($event)" (submit)="onSubmit($event)"></SearchBar>
    <ListView row="1" [items]="airports" class="list-group" (itemTap)="onSelectItem($event)">
        <ng-template let-item="item">
            <GridLayout class="item list-group-item">
                <Label [text]="item.name" class="list-group-item-heading"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>