[Desktop Entry]
Name=ProjetoLeandro2019-2
Type=Link
URL=https://docs.google.com/document/d/13GjX6BewTml4pmoPkPjXQZoLSz5QEqcSvTJvdl5jtPs/edit?usp=drivesdk
