<ActionBar title="Atendimento - Intervenção" class="action-bar"></ActionBar>
<GridLayout class="home" rows="auto,auto,auto,auto,auto" columns="*,*">

    <Label row="1" col="0" colSpan="2" text="Hipótese de diagnóstico:" class="title-label"></Label>
    <TextView row="2" col="0" colSpan="2" hint="Digite aqui..." class="scf-input"></TextView>

    <Label row="3" col="0" colSpan="2" text="Selecione os procedimentos:" class="title-label"></Label>
    <GridLayout row="4" col="0" colSpan="2">
        <RadListView row="4" col="0" colSpan="2" [items]="dataList" selectionBehavior="Press" multipleSelection="true">
            <ng-template let-item="item" let-i="index" let-selected="item.selected">
                <GridLayout rows="28,24,8" columns="24,*,18,68,24">
                    <Label row="0" col="1" rowSpan="3" [text]='item.description'
                           horizontalAlignment="left" verticalAlignment="center"
                           class="arrow-next"></Label>
                    <Label row="2" col="0" colSpan="5" class="list-separator"></Label>
                </GridLayout>
            </ng-template>
            <ListViewLinearLayout tkListViewLayout itemHeight="50" scrollDirection="Vertical"></ListViewLinearLayout>
        </RadListView>
    </GridLayout>

    <Button row="5" col="0" colSpan="2" text="Salvar" (tap)="salvar()" class="btn-next" id="btnNext"></Button>

</GridLayout>
