/*
* orange: #f6bd00
* blue: #0bbdd5
* gris: #636363
*/

.action-bar {
    background-color: silver;
    color: #ffffff;
    padding-right: 10;
}
/* Add mobile styles for the component here.  */
.body {
    background-color: #ffffff;
}

.scf-input {
    border-bottom-width: 1;
    border-bottom-color: #eeeeee;
    padding: 4 32 4 0;
    height: 28;
}

.btn-return {
    background-color: #0bbdd5;
    padding: 5 15;
    border-radius: 5;
    color: #ffffff;
}

.btn-close {
    background-color: #0bbdd5;
    padding: 0 10;
    height: 24;
    border-radius: 5;
    color: #ffffff;
}

.title-label {
    font-size: 16;
    text-align: left;
    color: #0bbdd5;
}

.icon-next {
    tint-color: #0bbdd5;
}
