/* Common */
.fa {
    font-family: "FontAwesome";
}
.page {
    background-color: #ffffff;
    color: #000000;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: #ffffff;
    background-color: #0bbdd5;
    margin: 20 0 30 0;
}

.flexbox-item {
    width: 95%;
    text-align: center;
}

.action-bar {
    background-color: #0bbdd5;
    color: #ffffff;
    padding-right: 10;
}
.hr {
    background-color: #0bbdd5;
    width: 95%;
    margin-top: 21;
    height: 1;
}

/* Login */
.page-login-container {
    background-color: #0bbdd5;
    android-status-bar-background: #0bbdd5;
}
.page-login {
    background-color: #0bbdd5;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}
.company-name-container {
    height: 30%;
}
.company-name{
    margin-top: 60;
}

.company-logo {
    flex-grow: 1;
    height: 30%;
}

.login-text {
    margin-top: 60;
    white-space: normal;
}

.btn-login {
    color: #000000;
    background-color: #ffffff;
}

/*  Welcome */

.title {
    color: #0bbdd5;
    margin-top: 20;
}
.flexbox-item Label {
    margin-bottom: 4;
}

.menu-container {
    width: 90%;
}

.menu-item {
    vertical-align: top;
    width: 50%;
    margin-bottom: 16;
}
.menu-icon {
    width: 90;
    height: 90;
    vertical-align: top;
    border-width: 1;
    border-radius: 50%;
    font-size: 36;
    color: #0bbdd5;
    background-color: #ffffff;
    border-color: #d8d8d8;
}

.action-button{
    font-size: 20;
}