<ActionBar title="Primeira Consulta" class="action-bar">
</ActionBar>
<StackLayout class="p-20">
<GridLayout>
    <ScrollView>
        <StackLayout class="home-panel">
            <RadDataForm tkExampleTitle tkToggleNavButton [source]="pacienteOrder">
                <TKEntityProperty tkDataFormProperty name="nome" displayName="Nome" index="0">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="dataNascimento" displayName="Dt. Nascimento" index="1">
                    <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="sexo" displayName="Sexo" index="2" valuesProvider="Masculino, Feminino">
                    <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="telefoneCelular" displayName="Telefone Celular" index="3">
                    <TKPropertyEditor tkEntityPropertyEditor type="Phone"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="email" displayName="Email" index="4">
                    <TKPropertyEditor tkEntityPropertyEditor type="Email"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="nomeMae" displayName="Nome da mãe" index="5">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="telefoneResponsavel" displayName="Telefone do responsável" index="6">
                    <TKPropertyEditor tkEntityPropertyEditor type="Phone"></TKPropertyEditor>
                </TKEntityProperty>
            </RadDataForm>
        </StackLayout>
    </ScrollView>
</GridLayout>
</StackLayout>
<Button [text]="'Novo Atendimento'" (tap)="novoMonitoramento()" class="btn btn-primary m-t-20"></Button>