<StackLayout class="body scf-card animate-bounceInLeft-delay-0ms">

    <GridLayout rows="auto, auto, auto, auto, auto, auto, auto" columns="auto,*,*">

        <Label row="0" col="0" colSpan="2" text="Encaminhamento:" class="title-label"></Label>
        <TextField row="1" col="0" colSpan="3" editable="false" [text]="fromAirport" (tap)="onOpenSearchAirportTap(true)"
                   class="scf-input"></TextField>

        <Label row="2" col="0" colSpan="2"  text="Data de retorno para:" class="title-label"></Label>

        <Label row="3" col="1" colSpan="2" text="Acompanhamento:" class="line1"></Label>
        <TextField editable="false" row="4" textAlignment="center" col="1" colSpan="1" text='{{ acompanhamentoDate | date:"d/M/y" }}'
                   class="scf-input" (tap)="onOpenSelectDate(true)"></TextField>

        <Label row="5" col="1" colSpan="2" text="Tratamento:" class="line1"></Label>
        <TextField editable="false" row="6" textAlignment="center" col="1" colSpan="1" text='{{ tratamentoDate | date:"d/M/y" }}'
                   class="scf-input" (tap)="onOpenSelectDate(true)"></TextField>

    </GridLayout>
</StackLayout>
