<div [ngSwitch]="acao">
    <div *ngSwitchCase="'PASSO1'">
        <ActionBar title="RASTREAMENTO"></ActionBar>
        <navigation:ExamplePage xmlns:navigation="passo1" loaded="onPageLoaded"
                                xmlns:df="nativescript-ui-dataform" xmlns="http://www.nativescript.org/tns.xsd">

            <df:RadDataForm id="myDataForm" source="{{ person }}" />

        </navigation:ExamplePage>
    </div>
    <div *ngSwitchCase="'PASSO2'">
        <passo2></passo2>
    </div>
</div>