[Desktop Entry]
Name=OCD_Documento de requisitos-v3
Type=Link
URL=https://docs.google.com/document/d/1ypRUPHMQeWZSKtVjAqLb4qZAhtHEqC7NKmDUXkm7VuE/edit?usp=drivesdk
