<GridLayout row="1" rows="auto, auto" columns="*, *" class="menu-container">
    <StackLayout row="0" col="0" data-name="home" class="menu-item">
        <Button text="&#xf007;" class="fa menu-icon" [nsRouterLink]="['Perfil', {center: ['Navigation/Perfil']}]"></Button>
        <Label text="Perfil" class="text-center"></Label>
    </StackLayout>
    <StackLayout row="1" col="1" data-name="file-text-o" class="menu-item">
        <Button text="&#xf0ca;" class="fa menu-icon" [nsRouterLink]="['Rastreamento', {center: ['Navigation/Rastreamento']}]"></Button>
        <Label text="Rastreamento" class="text-center"></Label>
    </StackLayout>
    <StackLayout row="1" col="0" data-name="users" class="menu-item">
        <Button text="&#xf0c0;" class="fa menu-icon" [nsRouterLink]="['Pacientes', {center: ['Navigation/Pacientes']}]"></Button>
        <Label text="Pacientes" class="text-center"></Label>
    </StackLayout>
    <StackLayout row="0" col="1" data-name="id-card-o" class="menu-item">
        <Button text="&#xf073;" class="fa menu-icon" [nsRouterLink]="['Monitoramento', {center: ['Navigation/Monitoramento']}]"></Button>
        <Label text="Monitoramento" class="text-center"></Label>
    </StackLayout>
</GridLayout>
<Button row="2" class="btn btn-rounded-sm btn-primary btn-margin font-weight-bold t-18 flexbox-item"
        (tap)="logout()" text="Log out"></Button>
