<ActionBar class="action-bar" title="Sobre Vida 1.0">
    <ActionItem>
        <StackLayout>
            <Button class="fa btn-primary" text="&#xf0c9;"   fontSize="20" (tap)="onDrawerButtonTap()"></Button>
        </StackLayout>
    </ActionItem>
</ActionBar>

<GridLayout rows="auto, *, auto">
    <StackLayout row="0" class="m-b-25">
        <Label class="t-30 text-center title" text="Bem Vindo"></Label>
        <Label class="t-18 text-center font-weight-bold" [text]="loggedUser"></Label>
        <StackLayout class="hr"></StackLayout>
    </StackLayout>
    <GridLayout row="1" rows="auto, auto" columns="*, *" class="menu-container">
        <StackLayout row="0" col="0" data-name="home" class="menu-item">
            <Button text="&#xf007;" class="fa menu-icon" (tap)="onMenuButtonTap('Home')"></Button>
            <Label text="Perfil" class="text-center" (tap)="onMenuButtonTap('home')"></Label>
        </StackLayout>
        <StackLayout row="0" col="1" data-name="id-card-o" class="menu-item">
            <Button text="&#xf073;" class="fa menu-icon" (tap)="onMenuButtonTap('Acompanhamento')"></Button>
            <Label text="Monitoramento" class="text-center" (tap)="onMenuButtonTap('Acompanhamento')"></Label>
        </StackLayout>
        <StackLayout row="1" col="0" data-name="users" class="menu-item">
            <Button text="&#xf0c0;" class="fa menu-icon" (tap)="onMenuButtonTap('Pacientes')"></Button>
            <Label text="Pacientes" class="text-center" (tap)="onMenuButtonTap('Pacientes')"></Label>
        </StackLayout>
        <StackLayout row="1" col="1" data-name="file-text-o" class="menu-item">
            <Button text="&#xf0f6;" class="fa menu-icon" (tap)="onMenuButtonTap('Matriciamento')"></Button>
            <Label text="Matriciamento" class="text-center" (tap)="onMenuButtonTap('Matriciamento')"></Label>
        </StackLayout>
    </GridLayout>
    <Button row="2" class="btn btn-rounded-sm btn-primary btn-margin font-weight-bold t-18 flexbox-item"
        (tap)="logout()" text="Log out"></Button>
</GridLayout>