<!-- This is the home page. -->
<!-- Look in the login folder for the login code. -->
<ActionBar title="HOME"></ActionBar>
<FlexboxLayout class="page">
    <StackLayout class="form">
        <GridLayout rows="auto, auto, auto">
            <StackLayout row="0">
                <Label class="header" text="Status dos pacientes:"></Label>
                <TextField [(ngModel)]="textFieldValue" hint="Pesquisar..."></TextField>
            </StackLayout>
            <StackLayout row="1" style="height:60%">
                <ListView class="list-group" [items]="pacientes" (itemTap)="onItemTap($event)">
                    <ng-template let-paciente="item">
                        <FlexboxLayout flexDirection="row" class="list-group-item">
                            <Label [text]="paciente.nome" class="list-group-item-heading"
                                verticalAlignment="center" style="width: 40%"></Label>
                            <Label [text]="paciente.dtUltima" class="list-group-item-heading"
                                verticalAlignment="center" style="width: 30%"></Label>
                            <Label [text]="paciente.procedimento" class="list-group-item-heading"
                                verticalAlignment="center" style="width: 20%"></Label>
                            <Label [text]="paciente.status" class="list-group-item-heading"
                                verticalAlignment="center" style="width: 10%"></Label>
                        </FlexboxLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
            <StackLayout row="2">
                <Button row="0" col="1" text="Novo Rastreamento" class="btn btn-primary m-t-20"
                    (tap)="goAcompanhamento()"></Button>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</FlexboxLayout>