<ActionBar title="Nested Navigation" class="action-bar">
</ActionBar>


<!--Grid Layout Example-->
<GridLayout rows="*, 2*, 30" class="page">
  <StackLayout row="0">
    <my-cat-tab></my-cat-tab>
  </StackLayout>
  <StackLayout row="1">
    <my-dog-tab></my-dog-tab>
  </StackLayout>
  <Button row="2"
    text="Reset"
    [nsRouterLink]="['/home', { outlets: { catoutlet: ['cats'], dogoutlet: ['dogs'] } } ]"
    class="btn btn-outline btn-rounded-sm">
  </Button>
</GridLayout>

<!--Tab View Layout Example-->
<!--<TabView class="tab-view" tabsBackgroundColor="#f57c00" selectedTabTextColor="black">
  <StackLayout *tabItem="{title: 'Cats'}">
    <my-cat-tab></my-cat-tab>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Dogs'}">
    <my-dog-tab></my-dog-tab>
  </StackLayout>
</TabView>-->

<!--TabView Layoyt example + navigate to root when switching tabs-->
<!--<TabView 
  #tabView 
  tabsBackgroundColor="#f57c00" selectedTabTextColor="black"
  [(ngModel)]="selectedIndex"
  (selectedIndexChanged)="tabViewIndexChange(tabView.selectedIndex)">

  <StackLayout *tabItem="{title: 'Dogs'}">
    <my-dog-tab></my-dog-tab>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Cats'}">
    <my-cat-tab></my-cat-tab>
  </StackLayout>
</TabView>-->