<ActionBar title="Busca Paciente" class="action-bar"></ActionBar>
<FlexboxLayout class="page">
    <StackLayout class="form">
        <GridLayout rows="auto, auto">
            <StackLayout class="input-field" row="0">
                <Label text="Selecione um Paciente" class="label m-b-5"></Label>
                <RadAutoCompleteTextView [items]="dataItems" displayMode="Plain">
                    <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="300">
                        <ng-template tkSuggestionItemTemplate let-item="item">
                            <StackLayout orientation="vertical" padding="10">
                                <Label [text]="item.text"></Label>
                            </StackLayout>
                        </ng-template>
                    </SuggestionView>
                </RadAutoCompleteTextView>
            </StackLayout>
            <StackLayout class="main-timeline" row="1">
                <CardView *ngFor="let item of data" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                    <StackLayout class="card-layout">
                        <Label class="fa rate" text="&#xf1da;"></Label>
                        <Label class="h3" [text]="item.heading"></Label>
                        <Label class="body" textWrap="true" [text]="item.content"></Label>
                    </StackLayout>
                </CardView>
                <Button [text]="'Novo Atendimento'" (tap)="onTypeServiceTap()" class="btn btn-primary m-t-20"></Button>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</FlexboxLayout>
