<StackLayout>
  <Label [text]="dog.name" class="h1 text-center"></Label>
  <Label text="Who is the good doggie?" class="h2 font-italic text-center"></Label>

  <Label [text]="'Max Weight:' + dog.maxWeight + ' inches'" class="h3 m-10"></Label>
  <Label [text]="'Max Height:' + dog.maxHeight + ' pounds'" class="h3 m-10"></Label>

  <DockLayout orientation="horizontal">
    <Button
      dock="left"
      text="Previous dog"
      (tap)="goToPreviousDog()"
      class="btn btn-primary"
      width="40%">
    </Button>

    <Button
      dock="right"
      text="Next dog"
      (tap)="goToNextDog()"
      class="btn btn-primary"
      width="40%">
    </Button> 
  </DockLayout>

  <Button
    text="Go Back"
    (tap)="goBack()"
    class="btn btn-primary">
  </Button>
</StackLayout>
