<FlexboxLayout class="page page-login" backgroundImage="~/images/mesh.png">
    <StackLayout class="flexbox-item company-name-container">
        <Label class="t-30 company-name" text="APP - Sobre Vida 1.0"></Label>
    </StackLayout>
    <Image src="~/images/logo4.png" stretch="aspectFit" class="company-logo"></Image>
    <StackLayout class="flexbox-item">
        <Label class="t-18 login-text" text="Matriciamento, Rastreamento e Monitoramento de Câncer"></Label>
        <Button class="btn btn-login btn-rounded-sm font-weight-bold t-18"
            (tap)="login()" text="LOGIN"></Button>
    </StackLayout>
</FlexboxLayout>