<ActionBar title="Atendimento - Acompanhamento" class="action-bar"></ActionBar>
<GridLayout class="home" rows="16,auto,*,48" columns="*,*">

    <GridLayout row="1" col="0" colSpan="2" rows="30,20,4,20,30" columns="6,32,6,6,48,6,6,32,6,6,48,6,6,32,6"
                horizontalAlignment="center" verticalAlignment="top" class="stepper-content">
        <Label row="2" col="2" rowSpan="1" colSpan="5" class="line-stepper animate-bounceInLeft-delay-1100ms"></Label>
        <Label row="2" col="8" rowSpan="1" colSpan="5" class="line-stepper animate-bounceInLeft-delay-2100ms"></Label>
        <Label row="1" col="0" rowSpan="3" colSpan="3" text="1" id="itemStepper1"
               class="item-stepper current-step animate-bounceInDown-delay-600ms"></Label>
        <Label row="1" col="6" rowSpan="3" colSpan="3" text="2" id="itemStepper2"
               class="item-stepper animate-bounceInDown-delay-1600ms"></Label>

        <Label row="1" col="12" rowSpan="3" colSpan="3" text="3" id="itemStepper3"
               class="item-stepper animate-bounceInDown-delay-2600ms"></Label>
        <StackLayout row="0" col="0" rowSpan="1" colSpan="3" opacity="0" id="itemImageStepper1">
            <Rotate3D rotateAxis="Y" cameraDistance="2000" class="item-image--stepper"
                      [rotate]="rotateItemImageStepper1"></Rotate3D>
        </StackLayout>
        <StackLayout row="0" col="6" rowSpan="1" colSpan="3" opacity="0" id="itemImageStepper2">
            <Rotate3D rotateAxis="Y" cameraDistance="2000" class="item-image--stepper"
                      [rotate]="rotateItemImageStepper2"></Rotate3D>
        </StackLayout>
        <StackLayout row="0" col="12" rowSpan="1" colSpan="3" id="itemImageStepper3"
                     opacity="0">
            <Rotate3D rotateAxis="Y" cameraDistance="2000" class="item-image--stepper"
                      [rotate]="rotateItemImageStepper3"></Rotate3D>
        </StackLayout>
    </GridLayout>


    <GridLayout row="2" col="0" colSpan="2" [ngSwitch]="currentStep" height="100%">
        <cadastro-paciente *ngSwitchCase="1" (openSelectDate)="onOpenSelectDate($event)"
                        [selectedDate]="selectedDate" [isOnOpenDepartureDate]="isOnOpenDepartureDate"></cadastro-paciente>
        <avaliacao-clinica *ngSwitchCase="2"></avaliacao-clinica>
        <conduta *ngSwitchCase="3" (openSelectDate)="onOpenSelectDate($event)"
                 [selectedDate]="selectedDate" [isOnOpenDepartureDate]="isOnOpenDepartureDate"></conduta>
    </GridLayout>

    <GridLayout row="3" col="0" columns="*,*" colSpan="2" class="bottom-content">
        <Button row="0" col="0" text="Anterior" (tap)="animateBackward()"
                class="btn-previous" id="btnPrevious"></Button>
        <Button row="0" col="1" text="Próximo" (tap)="animateGoForward()" class="btn-next"
                id="btnNext"></Button>
    </GridLayout>

    <GridLayout row="0" col="0" rowSpan="4" colSpan="2" opacity="0" class="overlay"
                id="overlayGridLayout"></GridLayout>
    <GridLayout row="0" col="0" rowSpan="8" colSpan="2" rows="auto, auto, auto"
                columns="*,*" verticalAlignment="center" visibility="hidden" opacity="0"
                class="select-date" id="selectDateGridLayout">
        <Label row="0" col="0" colSpan="2" text="Select Date" class="title-select-date"></Label>
        <DatePicker row="1" col="0" colSpan="2" [(ngModel)]="dateSelector"
                    (dateChange)="onDateChanged($event)" verticalAlignment="center"></DatePicker>
        <Button row="2" col="0" text="Cancelar" class="btn-next" (tap)="onCloseSelectDate(true)"></Button>
        <Button row="2" col="1" text="OK" class="btn-previous" (tap)="onCloseSelectDate(false)"></Button>
    </GridLayout>
</GridLayout>
