<div [ngSwitch]="acao">
    <div *ngSwitchCase="'PASSO2'">
        <ActionBar title="RASTREAMENTO"></ActionBar>
        <FlexboxLayout class="page">
            <StackLayout class="form">
                <GridLayout rows="auto, auto, auto">
                    <StackLayout row="0" style="padding-top:2px">
                        <Label class="header" text="Passo 2 - Dados do Atendimento:"></Label>
                    </StackLayout>
                    <StackLayout row="1" style="height:70%">
                        <ScrollView sdkExampleTitle sdkToggleNavButton width="1450">
                            <GridLayout class="m-15" rows="auto auto auto">

                                <StackLayout row="0">
                                    <Label text="Local de antendimento:"></Label>
                                    <ListPicker [items]="rastreamento.listPickerLocalAtendimento"
                                        [(ngModel)]="selectedListPickerIndex1"></ListPicker>
                                </StackLayout>

                                <StackLayout row="1">
                                    <Label text="Data de Atendimento:" col="0"></Label>
                                    <DatePicker col="1" [year]="currentYear"
                                        [month]="currentMonth" [day]="currentDay"
                                        minDate="1970-01-01" maxDate="2100-12-31"
                                        loaded="onDateAtendimentoLoaded"></DatePicker>
                                </StackLayout>

                                <StackLayout row="2">
                                    <Label text="Profissional do Atendimento:"
                                        col="0"></Label>
                                    <TextField [(ngModel)]="rastreamento.profissionalAtendimento"
                                        hint="Informe..."></TextField>
                                </StackLayout>

                            </GridLayout>
                        </ScrollView>
                    </StackLayout>
                    <StackLayout row="2">
                        <GridLayout row="auto" columns="*, *">
                            <StackLayout row="0" col="0">
                                <Button text="< Anterior" class="btn btn-outline-secondary m-t-20"
                                    (tap)="passo1()"></Button>
                            </StackLayout>
                            <StackLayout row="0" col="1">
                                <Button text="Próximo >" class="btn btn-outline-primary m-t-20"
                                    (tap)="passo3()"></Button>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </FlexboxLayout>
    </div>
    <div *ngSwitchCase="'PASSO1'">
        <passo1></passo1>
    </div>
    <div *ngSwitchCase="'PASSO3'">
        <passo3></passo3>
    </div>
</div>