<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Login</title>
</head>
<body class="text-center">
<div layout:fragment="content">
    <form class="form-signin" th:action="@{/login}" method="post">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
             height="72"/>
        <h1 class="h3 mb-3 font-weight-normal">Por favor, faça o login</h1>
        <div th:if="${param.error}">
            E-mail e senha inválidos.
        </div>
        <div th:if="${param.logout}">
            Você foi desconectado.
        </div>
        <label for="inputCPF" class="sr-only">CPF</label>
        <input type="text" name="cpf" id="inputCPF" class="form-control" placeholder="CPF" required=""/>
        <label for="inputSenha" class="sr-only">Senha</label>
        <input type="password" name="senha" id="inputSenha" class="form-control" placeholder="Senha" required=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
</div>
</body>
</html>