<div [ngSwitch]="acao">
    <div *ngSwitchCase="'PASSO1'">
        <ActionBar title="RASTREAMENTO"></ActionBar>
        <FlexboxLayout class="page">
            <StackLayout class="form">
                <GridLayout rows="auto, auto, auto">
                    <StackLayout row="0" style="padding-top:2px">
                        <Label class="header" text="Passo 1 - Dados do Paciente:"></Label>
                    </StackLayout>
                    <StackLayout row="1" style="height:70%">
                        <ScrollView sdkExampleTitle sdkToggleNavButton>
                            <GridLayout class="m-15" rows="auto auto auto auto auto auto auto auto">
                                
                                <StackLayout row="0">
                                    <Label text="Nome do Paciente:" col="0"></Label>
                                    <TextField [(ngModel)]="rastreamento.nomePaciente"
                                        hint="Informe..."></TextField>
                                </StackLayout>

                                <StackLayout row="1">
                                    <Label text="Nome da mãe:" col="0"></Label>
                                    <TextField [(ngModel)]="rastreamento.nomeMae"
                                        hint="Informe..."></TextField>
                                </StackLayout>

                                <StackLayout row="2">
                                    <Label text="Bairro:" col="0"></Label>
                                    <TextField [(ngModel)]="rastreamento.bairro"
                                        hint="Informe..."></TextField>
                                </StackLayout>

                                <StackLayout row="3">
                                    <Label text="Cidade:" col="0"></Label>
                                    <TextField [(ngModel)]="rastreamento.cidade"
                                        hint="Informe..."></TextField>
                                </StackLayout>

                                <StackLayout row="4">
                                    <Label text="Sexo:" col="0"></Label>
                                    <SegmentedBar col="1" [items]="segmentedBarItems"
                                        [(ngModel)]="rastreamento.sexo"></SegmentedBar>
                                </StackLayout>

                                <StackLayout row="5">
                                    <Label text="Data de Nascimento:" col="0"></Label>
                                    <DatePicker col="1" [year]="currentYear"
                                        [month]="currentMonth" [day]="currentDay"
                                        minDate="1970-01-01" maxDate="2100-12-31"
                                        loaded="onDateNascimentoLoaded"></DatePicker>
                                </StackLayout>

                                <StackLayout row="6">
                                    <Label text="Telefone com DDD:" col="0"></Label>
                                    <TextField [(ngModel)]="rastreamento.numTelefone"
                                        hint="(99) 99999-9999)"></TextField>
                                </StackLayout>

                                <StackLayout row="7" left="10" top="200">
                                    <Label text="Email do Paciente:" col="0"></Label>
                                    <TextField [(ngModel)]="rastreamento.email"
                                        hint="exemplo@com.br"></TextField>
                                </StackLayout>
                            </GridLayout>
                        </ScrollView>
                    </StackLayout>
                    <StackLayout row="2">
                        <Button text="Próximo >" class="btn btn-primary m-t-20"
                            (tap)="continuarFluxo('PASSO2')"></Button>
                    </StackLayout>
                </GridLayout>

            </StackLayout>
        </FlexboxLayout>
    </div>
    <div *ngSwitchCase="'PASSO2'">
        <passo2 android:[rastreamento]="rastreamento" ios:[rastreamento]="rastreamento"></passo2>
    </div>
</div>